@{
	ViewData["Title"] = localizer["CompanyList"];
}


<div class="card shadow border-0 my-4 mb-5">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">@localizer["CompanyList"]</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="row pb-3">
			<div class="col-6">
			</div>
			<div class="col-6 text-end">
				<a asp-controller="Company" asp-action="Upsert" class="btn btn-primary">
					<i class="bi bi-plus-circle"></i> @localizer["CreateCompany"]
				</a>
			</div>
		</div>

		<table id="tblData" class="table table-bordered  table-striped" style="width:100%">
			<thead>
				<tr>
					<th>@localizer["Name"]</th>
					<th>@localizer["StreetAddress"]</th>
					<th>@localizer["City"]</th>
					<th>@localizer["State"]</th>
					<th>@localizer["PhoneNumber"]</th>
					<th></th>
				</tr>
			</thead>
		</table>
	</div>
</div>

@section Scripts {
	<script src="~/js/company.js"></script>
}