@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<div class="card shadow border-0 my-4 mb-5">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">@localizer["UserList"]</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		
		<table id="tblData" class="table table-bordered  table-striped" style="width:100%">
			<thead>
				<tr>
					<th>@localizer["Name"]</th>
					<th>@localizer["Email"]</th>
					<th>@localizer["Phone"]</th>
					<th>@localizer["Company"]</th>
					<th>@localizer["Role"]</th>
					<th></th>
				</tr>
			</thead>
		</table>
	</div>
</div>

@section Scripts {
	<script src="~/js/user.js"></script>
}